__pycache__/adapter.cpython-311.pyc
__pycache__/client.cpython-311.pyc
__pycache__/data.cpython-311.pyc
__pycache__/device.cpython-311.pyc
__pycache__/logger.cpython-311.pyc
__pycache__/server.cpython-311.pyc
Adapter_Log.log
